/*General Styles*/
body {
	background-size:cover;
	font-family:Arial,sans-serif;
	margin:0;
	padding:0;
}
/*Header*/
.header{
	padding:10px;
	text-align:center;
	font-size:15px;color:white;
}
/*Horizontal Menu*/
.horizontal-menu{
	display:flex;
	background-color:black;
	padding:0;
	margin:0;
	list-style:none
}
.horizontal-menu a{
	display;block;
	padding:14px 20px;
	text-decoration:none;
	color:floralwhite;
	border-right:1px solid #cc;
}

.horizontal-menu a:hover{
	border-right:none;
}
.horizontal-menu a:last-child{
	background-color:#7CE6OC;
}
/*Selcted(active)menu item*/
.horizontal-menu a:focus,
.horizontal-menu a:visited{
	background-color:#04AA6D;color;white;
}
/*Section Layout*/
.section{
	display:flex;
	flex-wrap:wrap;
	margin:20px;
}
/*sidebar Navigation*/
.nav{
	width:30%;
	background:#ccc;
	padding:20px;
}
/*Main Content*/
.article{
	flex-grow:1;
	padding:20px;
	background-color:#f1f1f1;
}
/*Phone Info*/
.product-container {
	display: flex;
	gap: 25px;
}
/*product*/
.product{
	text-align: center;
	width: 120px;
	padding: 30px;
	background:#dbcb9e;
	text-align: left;
}
.product span,
.product img,
.product p{
	display: block;
	margin: 0px;
}
#cart{
	list-style: none;
	padding: 0;
}
.aside{
	text-align: right;
	width: 20px;
	border-radius: 10px;
	background-color: black;
}
/*buy button*/
.btn-buy{
	background: linear-gradient(to right, #24357E, #826D93);;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	padding: 14px 35px;
	cursor: pointer;
}


/*Footer*/
.footer{
	background-color:black;
	text-align:center;
	color:white;
	padding:10px;
}

/*Responsive Layout*/
@media(max-width:600px){
	.section{
		flex-direction:column;
	}
.nav,article{
	width:100%;
	height:auto;
}
}


